/*  ========================================================================  *\
    
    * OVERVIEW
  
    * This file describes the components that make up the page.
    * From their internal layout, the color of their text, etc.
  
    * It was visible until now, but here it is very strongly enforced by:
    * BEM (Block - Element - Modifier) thinking in the code.

    * FHD or Tablet or Mobil element-size(px) to vievport-size(vw) calc.;
    * Viewport Width = width - ca.1vw ( min. 8px to max. 20px = scroll width);

    * FHD width calc. = 1920px - 1vw or 20px(19.20) = 1900px;
    * HD or Tablet width calc. = 1024px - 1vw or 10px(10.24) = 1014px;
    * Mobil width calc. = 768px - 1vw or 8px(7.68) = 760px;

\*  ========================================================================  */

/*  ========================================================================  *\

    * C O M M E N T
    
    * FONTS
    *     h1, h2, h3, h4; 
    *     .button-blue, .button-white;
    *     .form-name, .form-email;
    *     .footer-brandname, .footer-studentname;
    
    * BUTTONS
    *     .button-blue, .button-white;

\*  ========================================================================  */

/*  ========================================================================  *\
    F O N T S
\*  ========================================================================  */

h1 {
    text-transform: none;
    margin-bottom:  12px;  /*max( px, vw);   /*  Universal FHD-Tablet-Mobil min.-max.: px - FHD max.calc.  */
    font-size:      32px;  /*max( px, vw);   /*  Universal FHD-Tablet-Mobil min.-max.: px - FHD max.calc.  */
    font-weight:    bold;
    line-height:    40px;  /*max( px, vw);   /*  Universal FHD-Tablet-Mobil min.-max.: px - FHD max.calc.  */
    letter-spacing: 0;
}

h2 {
    text-transform: none;
    font-size:      24px;
    font-weight:    bold;
    line-height:    32px;
    text-align:     left;
    color:          #ffffff;
}

h3, h4,
.button-blue,
.button-white {
    text-transform: uppercase;
    font-size:      9.6px;   /*max( px, vw);  /*  Universal FHD-Tablet-Mobil min.-max.: px - FHD max.calc.  */
    font-weight:    bold;
    line-height:    12px;   /*max( px, vw);  /*  Universal FHD-Tablet-Mobil min.-max.: px - FHD max.calc.  */
    letter-spacing: 2.4px;  /*  px  */
}

h3 {
    color: #b2acba;
}

h4 {
    margin:     10px 0px 15px 0px;
    text-align: right;
    color:      #6200ea;
}

.form-name,
.form-email {
    text-align:     left;
    font-size:      14px;   /*max( px, vw);  /*  Universal FHD-Tablet-Mobil min.-max.: px - FHD max.calc.  */
    font-weight:    bold;
    line-height:    18px;   /*max( px, vw);  /*  Universal FHD-Tablet-Mobil min.-max.: px - FHD max.calc.  */
    letter-spacing: 1px;  /*  px  */
    color:          #211138;
    opacity:        0.5;
}

.footer-brandname,
.footer-studentname {
    color: #6200ea;
}


/*  ========================================================================  *\
    B U T T O N S
\*  ========================================================================  */

.button-blue,
.button-white {
    display:          inline-block;
    cursor:           pointer;
    width:            100%;  /*420px;*/
    margin-top:       12px;  /*max( 12px, vw);  /*  Universal FHD-Tablet-Mobil min.-max.: px - FHD max.calc.  */
    padding-top:      13px;  /*max( 13px, vw);  /*  Universal FHD-Tablet-Mobil min.-max.: px-border - FHD max.calc.  */
    padding-bottom:   12px;  /*max( 12px, vw);  /*  Universal FHD-Tablet-Mobil min.-max.: px-border - FHD max.calc.  */
    border:           2px solid;
    border-color:     #6200ea;
    border-radius:    24px;  /*max( 24px, vw);  /*  Universal FHD-Tablet-Mobil min.-max.: px - FHD max.calc.  */
    text-align:       center;
}

.button-blue {
    background-color: #6200ea;
    color:            #ffffff;
}

.button-white {
    background-color: #ffffff;
    color:            #6200ea;
}