/*  ========================================================================  *\
    
    * OVERVIEW
  
    * This file describes the components that make up the page.
    * From their internal layout, the color of their text, etc.
  
    * It was visible until now, but here it is very strongly enforced by:
    * BEM (Block - Element - Modifier) thinking in the code.

    * FHD or Tablet or Mobil element-size(px) to vievport-size(vw) calc.;
    * Viewport Width = width - ca.1vw ( min. 8px to max. 20px = scroll width);

    * FHD width calc. = 1920px - 1vw or 20px(19.20) = 1900px;
    * HD or Tablet width calc. = 1024px - 1vw or 10px(10.24) = 1014px;
    * Mobil width calc. = 768px - 1vw or 8px(7.68) = 760px;

\*  ========================================================================  */

/*  ========================================================================  *\

    * C O M M E N T
    
    * FONTS
    *     h1, h2, h3, h4; 
    *     .button-blue, .button-white;
    *     .form-name, .form-email;
    *     .footer-brandname, .footer-studentname;
    
    * BUTTONS
    *     .button-blue, .button-white;

\*  ========================================================================  */

/*  ========================================================================  *\
    F O N T S
\*  ========================================================================  */

h1 {
    text-transform: none;
    margin-bottom:  max(12px, 0.631vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 12px - FHD max.calc.  */
    font-size:      max(32px, 1.684vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 32px - FHD max.calc.  */
    font-weight:    bold;
    line-height:    max(40px, 2.105vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 40px - FHD max.calc.  */
}

h2 {
    text-transform: none;
    font-size:      max(24px, 1.263vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 24px - FHD max.calc.  */
    font-weight:    bold;
    line-height:    max(32px, 1.684vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 32px - FHD max.calc.  */
    text-align:     left;
    color:          #ffffff;
}

@media(max-width: 1025px) {
    h1 {
        margin-bottom:  max(9px, 0.473vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 12px - FHD max.calc.  */
        font-size:      max(24px, 1.263vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 32px - FHD max.calc.  */
        line-height:    max(30px, 1.579vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 40px - FHD max.calc.  */
    }
    
    h2 {
        font-size:      max(18px, 0.947vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 24px - FHD max.calc.  */
        line-height:    max(24px, 1.263vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 32px - FHD max.calc.  */
    }
}

@media(max-width: 768px) {
    h1 {
        margin-bottom:  max(12px, 0.631vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 12px - FHD max.calc.  */
        font-size:      max(32px, 1.684vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 32px - FHD max.calc.  */
        line-height:    max(40px, 2.105vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 40px - FHD max.calc.  */
    }
    
    h2 {
        font-size:      max(24px, 1.263vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 24px - FHD max.calc.  */
        line-height:    max(32px, 1.684vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 32px - FHD max.calc.  */
    }
}

h3, h4,
.button-blue,
.button-white {
    text-transform: uppercase;
    font-size:      max(10px, 0.505vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 10px - FHD max.calc.  */
    font-weight:    bold;
    line-height:    max(12px, 0.631vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 12px - FHD max.calc.  */
    letter-spacing: 2px;
}

h3 {
    color: #b2acba;
}

h4 {
    margin:     0.789vw 0vw 1.052vw 0vw;  /*  15px 0px 20px 0px  */
    text-align: right;
    color:      #6200ea;
}

.form-name,
.form-email {
    text-align:     left;
    font-size:      max(14px, 0.737vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 14px - FHD max.calc.  */
    font-weight:    bold;
    line-height:    max(18px, 0.947vw);  /*  Universal FHD-Tablet-Mobil min.-max.: px - FHD max.calc.  */
    letter-spacing: 1px;
    color:          #211138;
    opacity:        0.66;
}

.footer-brandname,
.footer-studentname {
    color: #6200ea;
}


/*  ========================================================================  *\
    B U T T O N S
\*  ========================================================================  */

.button-blue,
.button-white {
    display:          inline-block;
    cursor:           pointer;
    width:            100%;
    margin-top:       max(12px, 0.631vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 12px - FHD max.calc.  */
    padding-top:      max(13px, 0.684vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 13px-border - FHD max.calc.  */
    padding-bottom:   max(13px, 0.684vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 13px-border - FHD max.calc.  */
    border:           2px solid;
    border-color:     #6200ea;
    border-radius:    max(24px, 1.263vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 24px - FHD max.calc.  */
    text-align:       center;
}

.button-blue {
    background-color: #6200ea;
    color:            #ffffff;
}

.button-white {
    background-color: #ffffff;
    color:            #6200ea;
}