/*  ========================================================================  *\
    
    * OVERVIEW
          
    * This file manages the layout of the page.
    * Instead of placing them separately, we link them to the components.

    * This creates a connected but separate system.
    * Which does nothing but say some parameters:
    * For example: what size should they be and where should they appear.
    
    * The classes declared here can be called on any container.
    * They wear the right size and behave the right way.

    * FHD or Tablet or Mobil element-size(px) to vievport-size(vw) calc.;
    * Viewport Width = width - ca.1vw ( min. 8px to max. 20px = scroll width);

    * FHD width calc. = 1920px - 1vw or 20px(19.20) = 1900px;
    * HD or Tablet width calc. = 1024px - 1vw or 10px(10.24) = 1014px;
    * Mobil width calc. = 768px - 1vw or 8px(7.68) = 760px;
    
\*  ========================================================================  */

/*  ========================================================================  *\
    
    * C O M M E N T
    
    * CONTAINER
    *     .container;
    *     @media(max-width: 1025px);
    *     @media(max-width: 768px);
    
    * MAIN
    *     main;
    *         .site-logo;
    *         .main-container;
    *             .main-content;
    *                 .main-content-box;
    *                     .icon;
    *                     .fa;
    
    * ASIDE
    *     aside;
    *         .form-container;
    *             .form-name;
    *             .form-email;
    
    * FOOTER
    *     footer;

\*  ========================================================================  */


/*  ========================================================================  *\
    C O N T A I N E R
\*  ========================================================================  */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "main aside"
        "footer footer";
}

@media(max-width: 1025px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "main"
            "aside"
            "footer";
    }
}

@media(max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "main"
            "aside"
            "footer";
    }
}


/*  ========================================================================  *\
    M A I N
\*  ========================================================================  */

main {
    grid-area:        main;
    
    background-color: #6200ea;
}  

    .site-logo {
        height:           auto;
        padding:          0.789vw 0vw 0.789vw 1.842vw;  /*  15px 0px 15px 35px  */
        text-align:       left;
        background-color: #6200ea;
    }

    @media(max-width: 768px) {
        main {
            grid-area:        main;
            
            height:           100vh;
            background-color: #6200ea;
        }

            .site-logo {
                padding:    5.208vw;  /*  40px - Mobil 1vw = 7.68px  */
                text-align: center;
            }
    }

    .main-container {
        padding: 7.368vw 10.526vw 7.368vw 10.526vw;  /*  Universal FHD-Tablet-Mobil min.-max.: 140px 200px 140px 200px - FHD max.calc.  */
    }

        .main-content {
            width:  auto;
        }

            .main-content-box {
                display:         flex;
                justify-content: flex-start;
                align-items:     center;
                text-align:      left;
            }

                .icon {
                    width:            max(40px, 2.105vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 40px - FHD max.calc.  */
                    height:           max(40px, 2.105vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 40px - FHD max.calc.  */
                    margin:           max(25px, 1.316vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 25px - FHD max.calc.  */
                    background-color: #ffffff;
                    border-radius:    50%;
                }

                .fa {
                    width:  max(20px, 1.052vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 20px - FHD max.calc.  */
                    height: max(20px, 1.052vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 20px - FHD max.calc.  */
                    margin: max(12px, 0.631vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 12px - FHD max.calc.  */
                    color:  #6200ea;
                }


/*  ========================================================================  *\
    A S I D E
\*  ========================================================================  */

aside {
    grid-area:       aside;

    background:      url('../images/background.jpg') no-repeat;
    background-size: cover;
}

    .form-container {
        margin:           4.473vw 8.158vw 4.473vw 8.158vw;  /*  Universal FHD-Tablet-Mobil min.-max.: 85px 155px 75px 155px - FHD max.calc.  */
        padding:          3.158vw 3.684vw 7.894vw 3.684vw;  /*  Universal FHD-Tablet-Mobil min.-max.: 60px 70px 150px 70px - FHD max.calc.  */
        border:           1px;
        border-radius:    max(15px, 0.789vw);               /*  Universal FHD-Tablet-Mobil min.-max.: 15px - FHD max.calc.  */
        background-color: #ffffff;
        opacity:          1;
    }

    @media(max-width: 768px) {
        aside {
            height: 95vh;
        }

        .form-container {
            margin:  19.531vw 6.510vw auto 6.510vw;     /*  150px 50px auto 50px - Mobil 1vw = 7.68px  */
            padding: 6.510vw 6.510vw 10.416vw 6.510vw;  /*  50px 50px 80px 50px - Mobil 1vw = 7.68px  */
        }
    }

        .form-name,
        .form-email {
            width:      calc(100% - 1.579vw);          /*  100% minus left-padding(30px) - FHD max.calc.  */
            margin-top: max(12px, 0.631vw);            /*  Universal FHD-Tablet-Mobil min.-max.: 12px - FHD max.calc.  */
            padding:    0.842vw 0vw 0.842vw 1.579vw;   /*  Universal FHD-Tablet-Mobil min.-max.: 16px 0px 16px 30px - FHD max.calc.  */
            border:     none;
            background: #f4f3f5;
            opacity:    1;
        }


/*  ========================================================================  *\
    F O O T E R
\*  ========================================================================  */

footer {
    grid-area:        footer;

    padding-top:      max(34px, 1.789vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 34px - FHD max.calc.  */
    padding-bottom:   max(34px, 1.789vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 34px - FHD max.calc.  */
    background-color: #211138;
    text-align:       center;
}